<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>메이플 추가옵션 분석기 정보</title>
  <!-- MDB icon -->
  <link rel="icon" href="/img/mdb-favicon.ico" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="/css/mdb.min.css">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="/css/style.css">
	<style>
		
		html, body {
			margin: 0;
			padding: 0;
			height: 100%;
		}
		
		.mainbody {
			background-color: #D8D8D8;
			height: 100%;
		}
		.txt {
			text-align: center;
		}
		.logo {
			max-width: 80%;
		}
		.worldIcon {
			margin-right: 5px;
		}
	
	</style>
</head>
<body>

  <!-- Start your project here-->  
	<header>

  <nav class="navbar navbar-expand-lg navbar-dark default-color">
    <a class="navbar-brand" href="/"><strong>메이플 추가옵션 분석기</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">홈<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/summary">아이템 목록</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/guide">가이드</a>
        </li>
		<li class="nav-item active">
          <a class="nav-link" href="/about">about</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/mapleitempicker"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>

	
  
<div class="mainbody flex-center flex-column">
	<!-- <img class="logo" src="img/usage_logo.png"> -->
	<img src="img/mainlogo-black.png" width="300" class="animated fadeIn mb-3">
	<span class="txt animated fadeIn mb-3">MapleItemPicker 1.0.3-200504b<br>Power by <a href="https://mdbootstrap.com/">MDBootstrap</a><br>Develop by <a href="https://usage.tistory.com">usage</a><br><br>Special Thanks Q.A<br><img src="img/icon/world_luna.png" class="worldIcon">히어로맛나쵸<br><img src="img/icon/world_luna.png" class="worldIcon">후쿠와<br><img src="img/icon/world_scania.png" class="worldIcon">십오고구마<br><img src="img/icon/world_scania.png" class="worldIcon">치이이이키인
	</span>
	
	<button type="button" class="btn btn-light rounded detail" onClick="onPatchNote()">패치노트</button>
	
</div>
  <!-- End your project here-->

  <!-- jQuery -->
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript">
	function onPatchNote() {
		  let url = "https://blog.naver.com/PostList.nhn?blogId=kyr9389&categoryNo=9&from=postList&parentCategoryNo=9"
		  
		  window.open(url);
	  }
	
	</script>

</body>
</html>
