<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>메이플 추가옵션 분석기</title>
  <!-- MDB icon -->
  <link rel="icon" href="/img/mdb-favicon.ico" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="/css/mdb.min.css">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="/css/style.css">
	
	<style>
		.mainbody {
			background-color: #D8D8D8;
		}
		.table {
			width: 70%;
			min-width: 280px;
			margin: auto;
			text-align: center;
			border: 1px solid #dddddd;
			margin-top: 4%;
			margin-bottom: 4%;
		}
		
		.text_border {
			text-shadow: 0 0 2px #000;
		}
		
		.card {
			max-width: 800px;
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
		
		.card-title {
			margin-top: 1rem;
		}
		
		.card-body {
			padding: 1rem;
		}
		
		.content {
			border: 1px solid #CCCCCC;
			padding: 20px;
			margin-right: 3rem;
		}
		
		.content-item {
			display: block;
		}
		
		h5 {
			color:#000000;
			margin-top:2rem;
			margin-bottom:1rem;
		}
		
		h3 {
			margin-top: 0px;
		}
		
		img {
			width: 80%;
			max-width: 700px;
			margin: auto;
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
		}
	</style>
</head>
<body>

  <!-- Start your project here-->  
	<header>

  <nav class="navbar navbar-expand-lg navbar-dark default-color">
    <a class="navbar-brand" href="/"><strong>메이플 추가옵션 분석기</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">홈<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/summary">아이템 목록</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/guide">가이드</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/about">about</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </nav>

	
  
<div class="mainbody flex-center flex-column">
  <h4 class="animated fadeIn mb-3"> </h4>

	<div class="card">
	  <div class="card-body">
		  
		<h3 class="card-title">가이드</h3>
		  
		<div class="content">
			<span class="content-item"><a href="#s-1">1</a>. 추가옵션 분석기 사용법</span>
			<span class="content-item"><a href="#s-2">2</a>. 메이플스토리 아이템</span>
		</div>
		  
		<h5 class="card-title"><a id="s-1" href="#">1.</a>추가옵션 분석기 사용법</h5>
		  <span class="card-text">
			  <h5>- 추가옵션 분석기</h5>
			  <p class="animated fadeIn text-muted">추가옵션 분석기는 아이템이 갖고 있는 추가옵션을 기반으로 이 아이템이 어느정도의 가치를 지니고 있는지 보여주는 서비스입니다. 능력치에 따라 점수와 등급, 급수등이 계산되며 힘, 민첩, 지력, 운, 공격력, 마력, 올스텟%, 보스데미지% 등 8개의 주요 옵션의 영향을 받습니다.</p>
			  
			  <h5>- 추가옵션</h5>
			  <p class="animated fadeIn text-muted">추가옵션은 아이템이 기본적으로 가지고 있는 능력치 이외에 추가로 부여된 옵션입니다. 아이템 정보창에서 녹색으로 표시됩니다.</p>
			  <img src="img/guide/guide_00.png">
			  
			  <h5>- 사용법</h5>
			  <p class="animated fadeIn text-muted">먼저 분석하고 싶은 아이템 이름을 입력하여 해당 아이템을 검색합니다.</p>
			  <img src="img/guide/guide_01.png">
			  
			  <p class="animated fadeIn text-muted">아이템 추가옵션 탭에 아이템에 적용된 추가 옵션들을 입력해줍니다.</p>
			  <img src="img/guide/guide_02.png">
			  
			  <p class="animated fadeIn text-muted">아래쪽에서 아이템의 자세한 능력치를 확인할 수 있습니다.</p>
			  <img src="img/guide/guide_03.png">
		  
		<h5 class="card-title"><a id="s-2" href="#">2.</a>메이플스토리 아이템</h5>
		<span class="card-text">
			<p class="animated fadeIn text-muted">메이플스토리의 아이템은 다양한 능력치를 지니고 있습니다. 구체적인 내용은 다음과 같습니다.</p><br><br>
			<h5>- 아이템 품질</h5>
			<p class="animated fadeIn text-muted">아이템의 품질은 옵션의 합산 수치에 따라 7단계로 나누어집니다. 추가옵션이 붙은 능력치는 파란색으로 표시됩니다.</p>
			<table class="table table-striped table-hover table-sm">
				<thead>
					<tr>
						<th>아이템 색상</th>
						<th>품질명</th>
						<th>추가옵션</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><font color="#C2C2C2" style="font-weight:bold">회색</font></td>
						<td>하품</td>
						<td>0 미만</td>
					</tr>
					<tr>
						<td><p class="text_border"><font color="white" style="font-weight:bold">하얀색</font></p></td>
						<td>중품</td>
						<td>0 ~ 7</td>
					</tr>
					<tr>
						<td><font color="#7AFCE4" style="font-weight:bold">파란색</font></td>
						<td>상품</td>
						<td>8 ~ 20</td>
					</tr>
					<tr>
						<td><font color="#906ECF" style="font-weight:bold">보라색</font></td>
						<td>최상품</td>
						<td>21 ~ 39</td>
					</tr>
					<tr>
						<td><font color="#E8D000" style="font-weight:bold">노란색</font></td>
						<td>프리미엄 클래스</td>
						<td>40 ~ 58</td>
					</tr>
					<tr>
						<td><font color="#D7FF23" style="font-weight:bold">녹색</font></td>
						<td>스페셜 클래스</td>
						<td>59 ~ 69</td>
					</tr>
					<tr>
						<td><font color="#FF0368" style="font-weight:bold">빨간색</font></td>
						<td>엑셀런트 클래스</td>
						<td>70 이상</td>
					</tr>
				</tbody>
			</table>

			<h5>- 잠재능력</h5>
			<p class="animated fadeIn text-muted">기본 옵션 외에도 잠재능력을 가진 장비가 있습니다. 봉인된 잠재능력은 장비 아이템을 감정하여 확인할 수 있습니다.<br>잠재능력은 총 네가지 등급이 있으며 등급에 따라 획득 확률과 능력의 질에 차이가 있습니다.<br></p>
			<table class="table table-striped table-hover table-sm">
				<thead>
					<tr>
						<th>아이템 색상</th>
						<th>등급명</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><font color="#009BC6" style="font-weight:bold">파란색</font></td>
						<td>레어</td>
					</tr>
					<tr>
						<td><font color="#8002C8" style="font-weight:bold">보라색</font></td>
						<td>에픽</td>
					</tr>
					<tr>
						<td><font color="#F4A800" style="font-weight:bold">노란색</font></td>
						<td>유니크</td>
					</tr>
					<tr>
						<td><font color="#00CE9C" style="font-weight:bold">청록색</font></td>
						<td>레전드리</td>
					</tr>
				</tbody>
			</table>
		</span>
	</div>
</div>
  <!-- End your project here-->

  <!-- jQuery -->
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript"></script>

</body>
</html>
