<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>가이드</title>
  <!-- MDB icon -->
  <link rel="icon" href="/img/mdb-favicon.ico" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="/css/mdb.min.css">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- Google 애드센스 -->
  <script data-ad-client="ca-pub-4534105962815162" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	
	<style>
		html, body {
			height: 100%;
			background-color: #D8D8D8;
		}
		
		.mainbody {
			margin: 2rem auto;
			
		}
		.table {
			width: 70%;
			min-width: 280px;
			margin: auto;
			text-align: center;
			border: 1px solid #dddddd;
			margin-top: 4%;
			margin-bottom: 4%;
		}
		
		.text_border {
			text-shadow: 0 0 2px #000;
		}
		
		.card {
			width: 90%;
			max-width: 1000px;
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
		
		.card-title {
			margin-top: 1rem;
		}
		
		.card-body {
			padding: 1rem;
		}
		
		.content {
			width: auto;
			border: 1px solid #CCCCCC;
			padding: 20px;
			margin: 5rem 0 5rem 0;
		}
		
		.content-item {
			display: block;
		}
		
		h5 {
			color:#000000;
			margin-top:2rem;
			margin-bottom:1rem;
		}
		
		h3 {
			margin-top: 0px;
		}
		
		img {
			width: 80%;
			max-width: 700px;
			margin: auto;
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
		}
	</style>
</head>
<body>

  <!-- Start your project here-->  
	<header>

  <nav class="navbar navbar-expand-lg navbar-dark default-color">
    <a class="navbar-brand" href="/"><strong>메이플 추가옵션 분석기</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">홈<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/summary">아이템 목록</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/guide">가이드</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/about">about</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/mapleitempicker/"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/mapleitempicker"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
	
  
<div class="mainbody flex-center flex-column">
  <h4 class="animated fadeIn mb-3"> </h4>

	<div class="card">
	  <div class="card-body">
		  
		<h3 class="card-title">가이드</h3>
		
		<div>
			환영합니다!<br>이 페이지는 메이플 추가옵션 분석기를 사용할때 필요한 내용이 적힌 가이드 페이지 입니다.<br><br>글 제목을 누르면 해당 페이지로 이동할 수 있습니다.
		</div>
		  
		<div class="content">
			<h4>
				글 목록
			</h4>
			<span class="content-item"><a href="/guide">가이드 메인화면</a></span>
			<span class="content-item">· <a href="/guide/picker">추가옵션 분석기 사용법</a></span>
			<span class="content-item">· <a href="/guide/item">아이템 품질 및 잠재능력</a></span>
		</div>
		</div>
	</div>
</div>
  <!-- End your project here-->

  <!-- jQuery -->
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript"></script>

</body>
</html>
