<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- open graph START -->
  <meta property="og:url"                content="http://mapleitem.com" />
  <meta property="og:type"               content="website" />
  <meta property="og:title"              content="메이플 추가옵션 분석기" />
  <meta property="og:description"        content="추가옵션을 통해 아이템의 가치를 분석합니다." />
  <meta property="og:image"              content="http://mapleitem.com/img/mainlogo-black.png" />
  <!-- open graph END -->
  <title>메이플 추가옵션 분석기</title>
  <!-- MDB icon -->
  <link rel="icon" href="/img/mdb-favicon.ico" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="/css/mdb.min.css">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="/css/style.css">
	
	<style>
		body{
			font-size: 16px;
			font-family: sans-serif;
		}

		h1{
			font-size: 2.618em;
		}

		h2{
			font-size: 1.717em;
		}

		h3{
			font-size: 1em;
			line-height: 1.618em;
			text-transform: uppercase;
		}

		p{
			font-size: 1em;
			line-height: 1.618em;
		}
		@media all and (min-width: 960px) {
			body{
				font-size: 16px;
			}
		}

		@media all and (max-width: 959px) and (min-width: 600px) {
			body{
				font-size: 14px;
			}
		}

		@media all and (max-width: 599px) and (min-width: 320px) {
			body{
				font-size: 12px;
			}

		}
		.contain {
			background-color: #D8D8D8;
		}
		.topscreen {
			width: 100%;
			max-height: 10rem;
			min-height: 10rem;
			background-image: url('img/background/background-darkforest.png');
			background-color: #D9E5FF;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 30%;
			text-align: center;
			color: #FFFFFF;
		}
		.notice {
			width: 100%;
			min-height: 2rem;
			background-color: #FFBB00;
		}
		.noticePost {
			text-align: left;
			font-weight: bold;
			font-size: 0.9rem;
			color: #FFFFFF;
			padding: 0.35rem 0 0.25rem 1rem;
			float: left;
		}
		.noticeClose {
			text-align: right;
			font-weight: bold;
			font-size: 0.9rem;
			color: #FFFFFF;
			padding: 0.35rem 1rem 0.25rem 0;
			float: right;
		}
		.noticeClose:hover {
			color: #888888;
		}
		.mainbody {
			width: 100%;
			overflow: auto;
			margin: auto;
			text-align: center;
		}
		
		.item {
			width: 100%;
			min-width: 18rem;
			min-height: 45px;
			padding: 0.3rem 1rem;
		}
		
		.item :hover{
			background-color: #cccccc;
		}
		
		ul {
			padding: 0px;
			list-style: none;
		}
		
		#list-unstyled {
			background-color: #ffffff;
			min-width: 270px;
			max-width: 540px;
			width: 100%;
			min-height: 23rem;
			max-height: 23rem;
			overflow-x: hidden;
			overflow-y: auto;
			margin: auto;
			visibility: hidden;
		}
		
		.media {
			width: 100%;
		}
		
		.media-body {
			margin-top: 8px;
			font-weight: bold;
		}
		
		.thumbnail {
			width: 40px;
    		height: 40px;
		}
		
		.topdivision {
			width: 100%;
			text-align: center;
			padding-top: 5rem;
			background-color: #eeeeee;
		}
		
		.topdivision:after {
			content: "";
			display: inline-block;
			clear: both;
		}
		
		.banner {
			display: inline-block;
			width: 90%;
			max-width: 450px;
			max-height: 25rem;
			margin: auto;
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
		.searchSection {
			width: 100%;
			background-color: #333333;
		}
		.searchRank {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			min-width: 270px;
			border-radius: 5px;
			background-color: #FFFFFF;
			padding: 1rem 1rem 0rem 1rem;
			margin-bottom: 1rem;
		}
		
		.searchbox {
			width: 100%;
			max-width: 540px;
			display: inline-block;
			margin: 1rem 0;
		}
		.form-inline {
			display: block;
			margin: auto;
		}
		.form-inline .form-control {
			min-width: 235px;
			width: 60%;
		}
		.bannerdiv {
			width: 100%;
			border-radius: 15px;
		}
		.banner img {
   			width: 100%;
			object-fit: cover;
		}
		.active-cyan-4 input[type=text]:focus:not([readonly]) {
			border: 1px solid #4dd0e1;
			box-shadow: 0 0 0 1px #4dd0e1;
		}
		.pbox {
			background-color: #ffffff;
			display: inline-block;
			width: 2rem;
			height: 35px;
			padding: 7px 0 8px 0;
			margin-right: -5px;
		}
		.sbox {
			min-width: 270px;
			max-width: 540px;
			margin: auto;
		}
		.trend {
			margin-bottom: 1.5rem;
			font-weight: bold;
		}
		
		.searchRank ul .trendBar {
			margin: 0.8rem 0;
		}
		
		.trendtable {
			margin-left: 10%;
		}
		
		.trendtable td {
			text-align: left;
			font-weight: bold;
			padding: 0 0.5rem;
		}
		
		.buttonSection {
			display:inline-block;
			margin-bottom: 1rem;
			vertical-align: top;
			border-radius: 5px;
		}
		.listhead {
			background-color: #333333;
			color: #eeeeee;
			border-radius: 5px 5px 0 0;
		}
		.buttonimg {
			height: 12rem;
		}
		
		.patchBanner {
			display: inline-block;
			width: 100%;
			font-weight: bold;
			background-color: #FFFFFF;
			border-radius: 5px;
		}
		.patchBanner ul li {
			padding: 1rem;
			font-size: 1.414em;
			text-align: center;
		}
		.patchBanner ul .buttonli {
			padding: 1rem;
			text-align: center;
			font-size: 1.414em;
			margin: 0;
			border-top: 1px #eeeeee solid;
		}
		.patchBanner ul a .buttonli{
			color: #333333;
			font-weight: normal;
		}
		.patchBanner ul .buttonli:hover{
			background-color: #eeeeee;
		}
		.bg-rabbit {
			background-image: url("/img/background/background-rabbit.png");
			background-repeat: no-repeat;
			background-position: center center;
		}
		.bg-rabbit2 {
			background-image: url("/img/background/background-rabbit2.png");
			background-repeat: no-repeat;
			background-position: center center;
		}
		.bg-pinkbean {
			background-image: url("/img/background/background-pinkbean.png");
			background-repeat: no-repeat;
			background-position: center center;
		}
		.bt-guide {
			background-image: url("/img/background/button-guide.png");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}
		.bt-guide2 {
			background-image: url("/img/background/button-guide2.png");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}
	</style>
</head>
<body>

  <!-- Start your project here-->  
<header>
  <nav class="navbar navbar-expand-lg navbar-dark default-color">
    <a class="navbar-brand" href="/"><strong>메이플 추가옵션 분석기</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">홈<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/summary">아이템 목록</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/guide">가이드</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/about">about</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/mapleitempicker/"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/mapleitempicker"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
	
<div class="contain">
	
	<div class="topscreen flex-center flex-column">
		<img src="img/mainlogo-white.png" width="300" class="animated fadeIn mb-3">
	</div>
	<div class="notice" id="notice">
		<span class="noticePost">[공지] 모든 보스 장신구 세트가 추가되었습니다.</span>
		<span class="noticeClose" onclick="noticeClose()" aria-hidden="true">X</span>
	</div>

	<div class="mainbody rounded flex-center flex-column">
		
		<!-- 검색창입니다 -->
		<div class="searchSection">
			<div class="searchbox">
				<div class="input-group active-cyan-4 form-sm form-1 pl-0 sbox">
				  <div class="input-group-prepend">
					<span class="input-group-text purple lighten-3" id="basic-text1"><i class="fas fa-search text-white" aria-hidden="true"></i></span>
				  </div>
				  <input class="form-control my-0 py-1" onkeyup="filter()" type="text" id="value" placeholder="아이템 이름" aria-label="Search">
				</div>

				<!-- 아이템 목록은 요기요 -->
				<ul id="list-unstyled">
				</ul>

			</div>
		</div>
		
		
		
		<!-- 애드핏 광고 -->
		<ins class="kakao_ad_area" style="display:none;" 
		 data-ad-unit    = "DAN-u82cwvyzzsxj" 
		 data-ad-width   = "320" 
		 data-ad-height  = "100"></ins> 
		<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
		
		
		<div class="topdivision">
			<div class="container">
				<div class="row">	
					<!-- 인기 검색어 목록은 요기요 -->
					<div class="searchRank flex-column col-lg-4 col-sm-12" id="trendlist">

					</div>
					
					<!-- 주요 정보 탭 -->
					<div class="buttonSection flex-column col-lg-4 col-sm-12">
						<div class="patchBanner">
							<ul>
								<li class="listhead">메이플 주요정보</li>
								<a href="https://maplestory.nexon.com/News/Update/InformationCenter"><li class="buttonli">업데이트</li></a>
								<a href="https://maplestory.nexon.com/News/Notice/Inspection"><li class="buttonli">점검내역</li></a>
								<a href="https://maplestory.nexon.com/News/Notice/Notice"><li class="buttonli">공지사항</li></a>
								<a href="https://maplestory.nexon.com/News/Event"><li class="buttonli">이벤트</li></a>
								<a href="https://maplestory.nexon.com/News/CashShop"><li class="buttonli">캐시샵</li></a>
							</ul>
						</div>
					</div>
					
					<!-- 바로가기 버튼 탭 -->
					<div class="buttonSection flex-column col-lg-4 col-sm-12">
						<div class="patchBanner">
							<ul>
								<a href="/guide/picker"><li class="bt-guide buttonimg"></li></a>
								<a href="/guide/item"><li class="bt-guide2 buttonimg"></li></a>
							</ul>
						</div>
					</div>
					
				</div>
			</div>
			
			
			<!-- 배너부분 -->
			<div class="container">
				<div class="row">
						<div class="col-lg-6 col-sm-12">
						<!--Carousel Wrapper-->
						<div id="carousel-example-1z" class="carousel slide carousel-fade banner" data-ride="carousel">
						  <!--Indicators-->
						  <ol class="carousel-indicators">
							<li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-1z" data-slide-to="1"></li>
							<li data-target="#carousel-example-1z" data-slide-to="2"></li>
							<li data-target="#carousel-example-1z" data-slide-to="3"></li>
						  </ol>
						  <!--/.Indicators-->
						  <!--Slides-->
						  <div class="carousel-inner" role="listbox">
							<!--First slide-->
							<div class="carousel-item active">
							  <a href="https://maplestory.nexon.com/News/CashShop/Sale/130"><img class="d-block fill" src="img/banner/cashshop_bn_01.png"
								alt="First slide"></a>
							</div>
							<!--/First slide-->
							<!--Second slide-->
							<div class="carousel-item">
							  <a href="https://maplestory.nexon.com/News/CashShop/Sale/131"><img class="d-block fill" src="img/banner/cashshop_bn_02.png"
								alt="Second slide"></a>
							</div>
							<!--/Second slide-->
							<!--3 slide-->
							<div class="carousel-item">
							  <a href="https://maplestory.nexon.com/News/CashShop/Sale/113"><img class="d-block fill" src="img/banner/cashshop_bn_03.png"
								alt="Third slide"></a>
							</div>
							<!--/3 slide-->
							<!--4 slide-->
							<div class="carousel-item">
							  <a href="https://maplestory.nexon.com/News/CashShop/Sale/114"><img class="d-block fill" src="img/banner/cashshop_bn_04.png"
								alt="Fourth slide"></a>
							</div>
							<!--/4 slide-->
						  </div>
						  <!--/.Slides-->
						  <!--Controls-->
						  <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						  </a>
						  <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						  </a>
						  <!--/.Controls-->
						</div>
							
					</div>
					<!--/.Carousel Wrapper-->
					
				</div>
			</div>
		</div>
	</div>
</div>
		
	
  <!-- End your project here-->

  <!-- jQuery -->
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript">
	  console.log('%c메이플 추가옵션 분석기\nDevelop by usage','color:#3E71B3; font-size:30px; font-weight:bold;');
	  
	  
      function filter(){
        var value, name, item, i;

        value = document.getElementById("value").value.toUpperCase();
        item = document.getElementsByClassName("item");

        for(i=0;i<item.length;i++){
          name = item[i].getElementsByClassName("name");
          if(name[0].innerHTML.toUpperCase().indexOf(value) > -1){
            item[i].style.display = "flex";
          }else{
            item[i].style.display = "none";
          }
        }
      }
	  
	function getParameterByName(name) {
		name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
		var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(location.search);
		return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	}

    
		
	var loading = function(done) {
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function(){
			if(this.readyState == 4 && this.status == 200)
			{
				var myObj = JSON.parse(this.responseText);

				let newItem = "";
				for(var i = 0; i < myObj.list.length; i++) {
					//let list = document.getElementById("list-unstyled").innerHTML;
					// 동적 생성

					newItem += "<div class=\"item\">"
					newItem += "<li class=\"media\">"
					newItem += "<img class=\"d-flex align-self-center mr-3 thumbnail\" src=\"img/items/" + myObj.list[i].imgsrc + "\" alt=\"Generic placeholder image\">"
					newItem += "<div class=\"media-body\">"
					newItem += "<span class=\"name\">" + myObj.list[i].name + "</span>"
					newItem += "</div>"
					newItem += "</li>"
					newItem += "</div>"


				}

				document.getElementById("list-unstyled").innerHTML = newItem;
			}

			var items = document.querySelectorAll(".item");

			for (var i = 0; i < items.length; i++) {
				items[i].addEventListener("click", function() {
					//console.log("function start");
					var nowChildren = this.childNodes;
					for(var i=0; i<nowChildren.length; i++){
						//console.log("nowChildren : " + nowChildren[i]);
						if(nowChildren[i].nodeName == "LI") {
							var media = nowChildren[i];
							var mediaChildren = media.childNodes;
							for(var j=0; j<mediaChildren.length; j++){
								if(mediaChildren[j].nodeName == "DIV") {
									var mediabody = mediaChildren[j];
									var mediabodyChildren = mediabody.childNodes;
									//console.log(mediabodyChildren);
									var itemId = mediabodyChildren[0].textContent;
									//console.log(itemId);
									window.location.href = '/itemInfo?id='+itemId;
								}
							}
						}
					}
				});
				//console.log(i + "번째 이벤트리스너 추가");
			}
			
			//console.log("검색창 아이템 로딩 완료! 인기아이템 리스트 로딩 시작!");
			done();

		};

		xmlhttp.open("GET", "/data/itemData.txt", true);
		xmlhttp.send();
	}
	  
	loading(function done() {
		//console.log("인기아이템 리스트 로딩을 시작합니다.");
		var xmlhttpSet = new XMLHttpRequest();
		xmlhttpSet.onreadystatechange = function(){
			if(this.readyState == 4 && this.status == 200)
			{
				var myObj = JSON.parse(this.responseText);
				var list = "<ul><h3 class=\"trend\">인기 아이템</h3>";
				

				for(var i = 0; i < myObj.list.length; i++) list += "<li class=\"trendBar\"><table class=\"trendtable\"><tr><td>" + (i+1) + "</td><td><a href=\"/itemInfo?id=" + myObj.list[i].name + "\">" + myObj.list[i].name + "</a></td></tr></table></li>";
					
				list += "</ul>";
						
				document.getElementById("trendlist").innerHTML = list;
				
			}
		};

		xmlhttpSet.open("GET", "/data/trend.txt", true);
		xmlhttpSet.send();
	})    
	  
	  
	  
	function noticeClose() {
		let notice = document.getElementById("notice");
		notice.style.display ="none";
	}
	  
	let list = document.getElementById("list-unstyled");
	let value = document.getElementById("value");
	  
	value.addEventListener("focus", function() {
		list.style.visibility = "visible";
		//console.log("func start");
	});
	  
	value.addEventListener("blur", function() {
		//list.style.visibility = "hidden";
	});
  </script>

</body>
</html>
