<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= id %></title>
  <!-- MDB icon -->
  <link rel="icon" href="/img/mdb-favicon.ico" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="/css/mdb.min.css">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="/css/styleItem.css">
</head>
<body>

  <!-- Start your project here-->  
	<header>

  <nav class="navbar navbar-expand-lg navbar-dark default-color">
    <a class="navbar-brand" href="/"><strong>메이플 추가옵션 분석기</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">홈<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/summary">아이템 목록</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/guide">가이드</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/about">about</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/mapleitempicker/"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/mapleitempicker"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>

	
<div class="flex-center flex-column">
	<div class="card mt-5 animated fadeIn tnail">
		<span id = "thumbnail"></span>
	</div>
	
	<span class="mainbody">
		<ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-u82cwvyzzsxj" 
 data-ad-width   = "320" 
 data-ad-height  = "100"></ins> 
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
		<div class="card animated fadeIn information">
			<div class="card-header">
				<h2 id = "name" class="subtitle"></h2>
			</div>
			<div class="card-body">
			  <ul>
				  <li>착용레벨 : <span id = reqlev></span></li>
				  <li>장비분류 : <span id = kind></span></li>
				  <li><span id = spdOrNot></span> <span id = spd></span></li>
				  <li><span id = atkOrMag></span> <span id = atk></span></li>
				  <li>착용직업 : <span id = job></span></li>
				  <li>업그레이드 가능 횟수 : <span id = upgrade></span></li>
				  <li class="customYellow">가위 사용 가능 횟수 : <span id = scissors></span></li>
				  <li>최대 스타포스 강화 횟수 : <span id = starforce></span></li>
				  <li>REQ STR : <span id = reqstr></span></li>
				  <li>REQ DEX : <span id = reqdex></span></li>
				  <li>REQ INT : <span id = reqint></span></li>
				  <li>REQ LUK : <span id = reqluk></span></li>
				  <li>REQ POP : <span id = reqpop></span></li>
			  </ul>
				<button type="button" class="btn btn-info rounded" onClick="onAnalyze()">추가옵션 분석</button>
			</div>	
		</div>

		<div class="animated fadeIn group">
		<div class="card sideInformation">
			<div class="card-header">
				  <h2 class="subtitle">세트아이템 정보</h2>
			</div>
			<div class="card-body">
				<span id="setItem">세트아이템 정보는 준비중입니다. 조금만 기다려주세요!</span>
			</div>
		</div>
		
		<div class="card sideInformation">
			<div class="card-header">
				  <h2 class="subtitle">획득 경로</h2>
			</div>
			<div class="card-body">
				<ul>
					<li>몬스터로부터 획득 : <span id = earndrop></span></li>
					<li>퀘스트로 획득 : <span id = earnquest></span></li>
					<li>제작으로 획득 : <span id = earnmake></span></li>
					<li>기타 획득 경로 : <span id = earnetc></span></li>
				</ul>
			</div>
		</div>
		</div>
	</span>
  </div>
  <!-- End your project here-->

  <!-- jQuery -->
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript" src="/js/custom/item.js"></script>
	
</body>
</html>
