<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>아이템 목록</title>
  <!-- MDB icon -->
  <link rel="icon" href="/img/mdb-favicon.ico" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="/css/mdb.min.css">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- Google 애드센스 -->
  <script data-ad-client="ca-pub-4534105962815162" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<style>
		body{
			font-size: 16px;
			font-family: sans-serif;
		}

		h1{
			font-size: 2.618em;
		}

		h2{
			font-size: 1.717em;
		}

		h3{
			font-size: 1em;
			line-height: 1.618em;
			text-transform: uppercase;
		}

		p{
			font-size: 1em;
			line-height: 1.618em;
		}
		.md-form.md-outline label {
			font-size: 0.8em;
		}
		
		@media all and (min-width: 960px) {
			body{
				font-size: 16px;
			}
		}

		@media all and (max-width: 959px) and (min-width: 600px) {
			body{
				font-size: 14px;
			}
		}

		@media all and (max-width: 599px) and (min-width: 320px) {
			body{
				font-size: 12px;
			}
		}
		.mainbody {
			background-color: #D8D8D8;
			padding: 5% 0;
		}
		.container {
			background-color: #eeeeee;
			width: 90%;
			min-height: 500px;
			margin-top: 2rem;
			text-align: center;
			padding: 2% 5%;
		}
		.item {
			background-color: #FFFFFF;
			display: table;
			min-width: 5rem;
			min-height: 5rem;
			text-align: center;
			padding: 1rem 0.1rem;
			margin: 1rem 0.5rem;
			border: 1px solid #bbbbbb;
			transition: background-color 0.2s;
		}
		.item:hover {
			background-color: #cccccc;
		}
		.thumbnail {
			width: 3rem;
			height: 3rem;
		}
		.itemContent {
			display: table-cell;
			vertical-align: middle;
		}
		.row {
			text-align: center;
			margin-right: -30px;
		}
		.name {
			display: none;
		}
		.title {
			font-size: 2.618em;
			font-weight: bold;
			text-align: left;
			border-bottom: 3px solid #888888;
			margin-left: -15px;
			margin-right: -30px;
			overflow-x: hidden;
			max-width: 110%;
			padding: 0 5%;
		}
	</style>
</head>
<body>

  <!-- Start your project here-->  
	<header>

  <nav class="navbar navbar-expand-lg navbar-dark default-color">
    <a class="navbar-brand" href="/"><strong>메이플 추가옵션 분석기</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">홈<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/summary">아이템 목록</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/guide">가이드</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/about">about</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/mapleitempicker"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="mainbody">
	
	<div class="container">
		<div class="title animated fadeIn">
			아이템 목록
		</div>
		<div class="row" id="itemlist">
			<!-- 아이템 목록은 요기요 -->
		</div>
	</div>
</div>

  <!-- End your project here-->

  <!-- jQuery -->
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript">
		
	var xmlhttp = new XMLHttpRequest();
	xmlhttp.onreadystatechange = function(){
		if(this.readyState == 4 && this.status == 200)
		{
			//console.log("parameter is : " + getParameterByName('id'));
		}
    }

	var xmlhttp = new XMLHttpRequest();
	xmlhttp.onreadystatechange = function(){
		if(this.readyState == 4 && this.status == 200)
		{
			var myObj = JSON.parse(this.responseText);

			let newItem = "";
			for(var i = 0; i < myObj.list.length; i++) {
				//let list = document.getElementById("list-unstyled").innerHTML;
				// 동적 생성

				newItem += "<div class=\"item rounded col-xs-1 col-sm-1 col-md-1 col-lg-1\"><img class=\"align-self-center thumbnail\" src=\"img/items/" + myObj.list[i].imgsrc + "\" title=\"" + myObj.list[i].name + "\"></div>"

			}
			document.getElementById("itemlist").innerHTML = newItem;
		}
		
		var items = document.querySelectorAll(".item");
		//console.log(items);
		//console.log(items.length);

		for (var i = 0; i < items.length; i++) {
			items[i].addEventListener("click", function() {
				//console.log("function start");
				var nowChildren = this.childNodes;
				//console.log("nowChildren : " + nowChildren);
				var itemId = nowChildren[0].title;
				//console.log(itemId);
				window.location.href = '/item?id='+itemId;
			});
			//console.log(i + "번째 이벤트리스너 추가");
		}
		
	};

	xmlhttp.open("GET", "/data/itemData.txt", true);
	xmlhttp.send();
		
		</script>

</body>
</html>
