body{
	font-size: 16px;
	font-family: sans-serif;
}
h1{
	font-size: 2.618em;
}
h2{
	font-size: 1.717em;
}
h3{
	font-size: 1em;
	line-height: 1.618em;
	text-transform: uppercase;
}
p{
	font-size: 1em;
	line-height: 1.618em;
}

@media all and (min-width: 960px) {
	body{
		font-size: 16px;
	}
}

@media all and (max-width: 959px) and (min-width: 600px) {
	body{
		font-size: 14px;
	}
}

@media all and (max-width: 599px) and (min-width: 320px) {
	body{
		font-size: 12px;
	}

}
.contain {
	background-color: #D8D8D8;
}
.topscreen {
	width: 100%;
	max-height: 10rem;
	min-height: 10rem;
	background-image: url('/img/background/background-darkforest.png');
	background-color: #D9E5FF;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 30%;
	text-align: center;
	color: #FFFFFF;
}
.notice {
	width: 100%;
	min-height: 2rem;
	background-color: #FFBB00;
}
.noticePost {
	text-align: left;
	font-weight: bold;
	font-size: 0.9rem;
	color: #FFFFFF;
	padding: 0.35rem 0 0.25rem 1rem;
	float: left;
}
.noticeClose {
	text-align: right;
	font-weight: bold;
	font-size: 0.9rem;
	color: #FFFFFF;
	padding: 0.35rem 1rem 0.25rem 0;
	float: right;
}
.noticeClose:hover {
	color: #888888;
}
.mainbody {
	width: 100%;
	overflow: auto;
	margin: auto;
	text-align: center;
}

.item {
	width: 100%;
	min-width: 18rem;
	min-height: 45px;
	padding: 0.3rem 1rem;
}

.item :hover{
	background-color: #cccccc;
}

ul {
	padding: 0px;
	list-style: none;
}

#list-unstyled {
	background-color: #ffffff;
	min-width: 270px;
	max-width: 540px;
	width: 100%;
	min-height: 23rem;
	max-height: 23rem;
	overflow-x: hidden;
	overflow-y: auto;
	margin: auto;
	visibility: hidden;
}

.media {
	width: 100%;
}

.media-body {
	margin-top: 8px;
	font-weight: bold;
}

.thumbnail {
	width: 40px;
	height: 40px;
}

.topdivision {
	width: 100%;
	text-align: center;
	padding-top: 5rem;
	background-color: #eeeeee;
}

.topdivision:after {
	content: "";
	display: inline-block;
	clear: both;
}

.banner {
	display: inline-block;
	width: 90%;
	max-width: 450px;
	max-height: 25rem;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.searchSection {
	width: 100%;
	background-image: url("/img/background/background-maplestoryXbts.png");
	background-position: center;
}
.searchRank {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	min-width: 270px;
	border-radius: 5px;
	background-color: #FFFFFF;
	padding: 1rem 1rem 0rem 1rem;
	margin-bottom: 1rem;
}

.searchbox {
	width: 100%;
	max-width: 540px;
	display: inline-block;
	margin: 1rem 0;
}
.form-inline {
	display: block;
	margin: auto;
}
.form-inline .form-control {
	min-width: 235px;
	width: 60%;
}
.bannerdiv {
	width: 100%;
	border-radius: 15px;
}
.banner img {
	width: 100%;
	object-fit: cover;
}
.active-cyan-4 input[type=text]:focus:not([readonly]) {
	border: 1px solid #4dd0e1;
	box-shadow: 0 0 0 1px #4dd0e1;
}
.pbox {
	background-color: #ffffff;
	display: inline-block;
	width: 2rem;
	height: 35px;
	padding: 7px 0 8px 0;
	margin-right: -5px;
}
.sbox {
	min-width: 270px;
	max-width: 540px;
	margin: auto;
}
.trend {
	margin-bottom: 1.5rem;
	font-weight: bold;
}

.searchRank ul .trendBar {
	margin: 0.8rem 0;
}

.trendtable {
	margin-left: 10%;
}

.trendtable td {
	text-align: left;
	font-weight: bold;
	padding: 0 0.5rem;
}

.buttonSection {
	display:inline-block;
	margin-bottom: 1rem;
	vertical-align: top;
	border-radius: 5px;
}
.listhead {
	background-color: #333333;
	color: #eeeeee;
	border-radius: 5px 5px 0 0;
}
.buttonimg {
	height: 12rem;
}

.patchBanner {
	display: inline-block;
	width: 100%;
	font-weight: bold;
	background-color: #FFFFFF;
	border-radius: 5px;
}
.patchBanner ul li {
	padding: 1rem;
	font-size: 1.414em;
	text-align: center;
}
.patchBanner ul .buttonli {
	padding: 1rem;
	text-align: center;
	font-size: 1.414em;
	margin: 0;
	border-top: 1px #eeeeee solid;
}
.patchBanner ul a .buttonli{
	color: #333333;
	font-weight: normal;
}
.patchBanner ul .buttonli:hover{
	background-color: #eeeeee;
}
.bg-rabbit {
	background-image: url("/img/background/background-rabbit.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.bg-rabbit2 {
	background-image: url("/img/background/background-rabbit2.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.bg-pinkbean {
	background-image: url("/img/background/background-pinkbean.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.bt-guide {
	background-image: url("/img/background/button-guide.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
.bt-guide2 {
	background-image: url("/img/background/button-guide2.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}