body{
	font-size: 16px;
	font-family: sans-serif;
	background-color: #D8D8D8;
}

h1{
	font-size: 2.618em;
}

h2{
	font-size: 1.717em;
}

h3{
	font-size: 1em;
	line-height: 1.618em;
	text-transform: uppercase;
}

p{
	font-size: 1em;
	line-height: 1.618em;
}
.md-form.md-outline label {
	font-size: 0.8em;
}

@media all and (min-width: 960px) {
	body{
		font-size: 16px;
	}
}

@media all and (max-width: 959px) and (min-width: 600px) {
	body{
		font-size: 14px;
	}
}

@media all and (max-width: 599px) and (min-width: 320px) {
	body{
		font-size: 12px;
	}

}

#name {
	color: #111111;
	font-weight: bold;
	padding-top: 12px;
	padding-left: 5px;
}
#thumbnail {
	display: inline-block;
	float: left;
	width: 150px;
	height: auto;
}
.mainbody {
	display: inline-block;
	width: 90%;
	padding: 0.5rem;
	vertical-align: top;
	text-align: center;
}
.tnail {
	display: inline;
	width: 15rem;
	padding: 2rem;
}
.group {
	display: inline-block;
	vertical-align: top;
	width: 90%;
	max-width: 600px;
}
.sideInformation {
	display: inline-block;
	width: 100%;
	max-width: 600px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	vertical-align: top;
}
.information {
	display: inline-block;
	width: 90%;
	max-width: 600px;
	margin: 1rem;
	vertical-align: top;
}
.divider {
	display: block;
	float: none;
	width: 100%;
	height: 1rem;
	border-bottom: 1px dashed #cccccc;
	margin-top: 10px;
	margin-bottom: 10px;
}
.subtitle {
	font-weight: bold;
	padding-top: 12px;
	padding-left: 5px;
}
.customYellow {
	color: #ffc107;
}
.setItemTitle {
	font-weight: bold;
	font-size: 1.618em;
	margin-bottom: 2rem;
	color: #D7FF23;
	text-shadow: 0 0 2px #000;
}
.setItemLi {
	font-weight: bold;

}
.setItemType {
	float: right;
}
.setEffectSubject {
	text-align: left;
	font-weight: bold;
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-size: 1.347em;
	color: #D7FF23;
	text-shadow: 0 0 2px #000;
}
.setEffectDes {
	font-weight: bold;
}
.setItemSection {
	margin-top: 3rem;
}
.card-body ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.card-body ul li {
	text-align: left;
	font-weight: bold;
}
hr {
	margin-bottom: -2rem;
}