html, body {
	height: 100%;
	background-color: #D8D8D8;
}

.mainbody {
	margin: 2rem auto;

}
.table {
	width: 70%;
	min-width: 280px;
	margin: auto;
	text-align: center;
	border: 1px solid #dddddd;
	margin-top: 4%;
	margin-bottom: 4%;
}

.text_border {
	text-shadow: 0 0 2px #000;
}

.card {
	width: 90%;
	max-width: 1000px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.card-title {
	margin-top: 1rem;
}

.card-body {
	padding: 1rem;
}

.content {
	width: auto;
	border: 1px solid #CCCCCC;
	padding: 20px;
	margin: 5rem 0 5rem 0;
}

.content-item {
	display: block;
}

h5 {
	color:#000000;
	margin-top:2rem;
	margin-bottom:1rem;
}

h3 {
	margin-top: 0px;
}

img {
	width: 80%;
	max-width: 700px;
	margin: auto;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}